@{
  Layout = "_Layout";
}
<body class="container text-center p-4">
  <h1>Tamagotchi @Model.Name</h1>

  <p><strong>Food:</strong> @Model.Food / 100</p>
  <p><strong>Rest:</strong> @Model.Rest / 100</p>
  <p><strong>Attention:</strong> @Model.Attention / 100</p>

@* <form action="/character/{id}" method="post">
<button type="submit" value="@Feed" name="feed"></button> </form>
@Model.Feed(); *@
  <form action="/character/feed" method="post">
    <button type="submit" value="@Model.Id" name="id">Feed</button>
  </form> 
  <form action="/character/play" method="post">
    <button type="submit" value="@Model.Id" name="id">Play</button>
  </form> 
  <form action="/character/nap" method="post">
    <button type="submit" value="@Model.Id" name="id">Nap</button>
  </form> 
  <a href='/character/new'>Add another item</a>
  <a href='/character'>View all items</a>
</body>